<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="semanthaDbContext" connectionString="mongodb://jhonb:P1pt1cl3@clysmacluster-shard-00-00-sldiv.mongodb.net:27017,clysmacluster-shard-00-01-sldiv.mongodb.net:27017,clysmacluster-shard-00-02-sldiv.mongodb.net:27017/admin?replicaSet=clysmacluster-shard-0&#38;ssl=true"/>
  </connectionString>
  <settings>
    <add name="semanthaDbName" value="epimarketdb"></add>
  </settings>
</configuration>